/* 
   RECORD GROOVES
 */

.grooves {
    position: absolute;

    inset: 12%;

    border-radius: 50%;

    background:
        repeating-radial-gradient(
            circle,
            transparent 0px,
            transparent 5px,
            rgba(255, 255, 255, 0.025) 6px,
            transparent 7px
        );

    opacity: 0.8;

    pointer-events: none;
}