:root {
    --bg: #07070b;
    --bg-soft: #0d0d13;

    --panel: rgba(20, 20, 28, 0.66);
    --panel-strong: rgba(25, 25, 34, 0.86);

    --text: #f7f7fb;
    --text-soft: rgba(247, 247, 251, 0.62);
    --text-dim: rgba(247, 247, 251, 0.36);

    --purple: #a879ff;
    --pink: #ff72bd;
    --cyan: #67e8ff;
    --orange: #ffae68;

    --border: rgba(255, 255, 255, 0.09);

    --left-width: 56%;
    --right-width: 44%;

    --player-size: min(68vh, 640px, 72vw);

    /*
     * 进度值
     *
     * 由 JS 动态修改：
     *
     * --progress: 0 ~ 1
     * --progress-angle: 0deg ~ 360deg
     */
    --progress: 0;
    --progress-angle: 0deg;
}